/* Global Styles */
body {
    background: #68aca4;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.topnav {
    overflow: hidden;
    background-color: #F8C8DC;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #68aca4;
    color: black;
}

.topnav a.active {
    background-color: #68aca4;
    color: white;
}

/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background: #F8C8DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.job {
    margin-top: 20px;
}

.job h3 {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

